[Unit]
Description=Traefik Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/traefik/traefik
Restart=on-failure
# Don't restart in the case of configuration error
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
